<section id="inicio" class="hero-slider pt-24">
    <div class="slide active">
      <div
        class="relative h-[600px] bg-cover bg-center opacity-100"
        style="background-image: url('/hall.jpg');"
      >
        <div class="absolute inset-0  bg-opacity-50"></div>
        
        
      </div>
    </div>
  </section>

  