<section id="nosotros" class="py-20">
    <div class="container mx-auto px-4">
      <div class="flex flex-col justify-center lg:flex-row items-center gap-12">
        <div class="lg:w-1/3">
          <img
            src="/fachada.webp"
            alt="Equipo profesional"
            class="rounded-2xl shadow-lg"
          />
        </div>
        <div class="lg:w-1/2">
          <h2
            class="text-4xl font-['Playfair_Display'] font-bold text-gray-900 mb-6"
          >
            Sobre Nosotros
          </h2>
          <p class="text-gray-600 mb-6">
            Gestoría Jiménez Martínez, comenzó su andadura profesional en Julio de 1960, 
            siendo el gestor titular desde sus inicios D. Salustiano Jiménez Martínez.
          </p>
          <p class="text-gray-600 mb-6">
            Gestoria Jiménez Martínez, con sesenta años de experiencia, está formada 
            por capacitados profesionales en cada una de las diferentes especialidades
            administrativas que este despacho desarrolla.
          </p>
          <p class="text-gray-600 mb-6">
            Los resultados obtenidos y el gran número de clientes que ha solicitado 
            nuestros servicios avalan la rapidez, eficacia y ante todo la profesionalidad
            de todo el equipo de personas que integran este despacho.
          </p>
          <div class="grid grid-cols-2 gap-6 mb-8">
            <div class="text-center p-6 bg-blue-600 rounded-lg">
              <div class="text-3xl font-bold text-gray-100 mb-2">2000+</div>
              <div class="text-gray-100">Clientes Satisfechos</div>
            </div>
            <div class="text-center p-6 bg-blue-600 rounded-lg">
              <div class="text-3xl font-bold text-gray-100 mb-2">+60</div>
              <div class="text-gray-100">Años de Experiencia</div>
            </div>
          </div>
          <button
            class="bg-primary text-white px-8 py-3 !rounded-button hover:bg-opacity-90 transition-all"
          >
            Conoce Más
          </button>
        </div>
        
      </div>
    </div>
  </section>