<div id="modal" class="modal">
  <div class="modal-box">
    <h3 id="modal-title" class="text-2xl font-semibold mb-4"></h3>

    <ul id="modal-list" class="list-disc pl-5 space-y-2 text-gray-600"></ul>

    <button id="close-modal" class="mt-6 bg-blue-700 text-white px-4 py-2 rounded-lg cursor-pointer">
      Cerrar
    </button>
  </div>
</div>
